# User-specific files
*.suo
*.user

# Build results

_build/

*.tmp
*.tmp_proj
*.log

# vim
*.txt~
*.swp
*.swo
 
# svn
.svn


# Mac desktop service store files
.DS_Store

# Build files for Readthedocs
.Python
.vagrant/
bin/
include/
lib/
pip-selfcheck.json
docs
